@model IEnumerable<SistemaWebVuelos.Models.Vuelo>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BuscarPorDestino</title>
</head>
<body>
    <p class="btn">@Html.ActionLink("Nuevo", "Create", "Vuelo")</p>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Fecha) </th>
            <th>@Html.DisplayNameFor(model => model.Destino)</th>
            <th>@Html.DisplayNameFor(model => model.Origen)</th>
            <th>@Html.DisplayNameFor(model => model.Matricula)</th>
            <th>Detalle</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Fecha) </td>
                <td>@Html.DisplayFor(modelItem => item.Destino)</td>
                <td>@Html.DisplayFor(modelItem => item.Origen)</td>
                <td>@Html.DisplayFor(modelItem => item.Matricula)</td>
                <td>
                    @Html.ActionLink("Detalle", "Detail", new { id = item.Id })
                </td>
            </tr>
        }
</body>
</html>
